<a href="https://colab.research.google.com/github/Aswathyvsajeev/Pandas_Dataframe/blob/main/Dataframe__Attributes_and_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [3]:
nba = pd.read_csv("all_seasons.csv")

In [ ]:
nba

       Unnamed: 0          player_name  ... ast_pct   season
0               0        Travis Knight  ...   0.052  1996-97
1               1            Matt Fish  ...   0.000  1996-97
2               2         Matt Bullard  ...   0.099  1996-97
3               3         Marty Conlon  ...   0.101  1996-97
4               4      Martin Muursepp  ...   0.114  1996-97
...           ...                  ...  ...     ...      ...
11695       11695  Matthew Dellavedova  ...   0.337  2020-21
11696       11696     Maurice Harkless  ...   0.071  2020-21
11697       11697            Max Strus  ...   0.074  2020-21
11698       11698    Marcus Morris Sr.  ...   0.056  2020-21
11699       11699         Aaron Gordon  ...   0.165  2020-21

[11700 rows x 22 columns]

Attributes and Methods of Dataframe

In [ ]:
nba.head()

   Unnamed: 0      player_name team_abbreviation  ...  ts_pct  ast_pct   season
0           0    Travis Knight               LAL  ...   0.536    0.052  1996-97
1           1        Matt Fish               MIA  ...   0.333    0.000  1996-97
2           2     Matt Bullard               HOU  ...   0.535    0.099  1996-97
3           3     Marty Conlon               BOS  ...   0.542    0.101  1996-97
4           4  Martin Muursepp               DAL  ...   0.482    0.114  1996-97

[5 rows x 22 columns]

In [ ]:
nba.tail(5)

       Unnamed: 0          player_name  ... ast_pct   season
11695       11695  Matthew Dellavedova  ...   0.337  2020-21
11696       11696     Maurice Harkless  ...   0.071  2020-21
11697       11697            Max Strus  ...   0.074  2020-21
11698       11698    Marcus Morris Sr.  ...   0.056  2020-21
11699       11699         Aaron Gordon  ...   0.165  2020-21

[5 rows x 22 columns]

In [ ]:
nba.index

RangeIndex(start=0, stop=11700, step=1)

In [ ]:
nba.values

array([[0, 'Travis Knight', 'LAL', ..., 0.536, 0.052000000000000005,
        '1996-97'],
       [1, 'Matt Fish', 'MIA', ..., 0.333, 0.0, '1996-97'],
       [2, 'Matt Bullard', 'HOU', ..., 0.535, 0.099, '1996-97'],
       ...,
       [11697, 'Max Strus', 'MIA', ..., 0.597, 0.07400000000000001,
        '2020-21'],
       [11698, 'Marcus Morris Sr.', 'LAC', ..., 0.614, 0.056, '2020-21'],
       [11699, 'Aaron Gordon', 'DEN', ..., 0.547, 0.165, '2020-21']],
      dtype=object)

In [ ]:
nba.shape

(11700, 22)

In [ ]:
nba.dtypes

In [ ]:
# invoking value_counts() method on series object that is returned by dtypes attribute of dataframe structure 

nba.dtypes.value_counts()

float64    12
object      8
int64       2
dtype: int64

In [ ]:
# more dataframe attributes
nba.columns

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [ ]:
# axes attribute of dataframe will give a list that consist of both column and row index.
nba.axes

[RangeIndex(start=0, stop=11700, step=1),
 Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
        'player_height', 'player_weight', 'college', 'country', 'draft_year',
        'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
        'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
       dtype='object')]

In [ ]:
# info method in dataframe that gives a lot of information about missing values and index.It gives a summary of infomation 
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11700 entries, 0 to 11699
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         11700 non-null  int64
 1   player_name        11700 non-null  object
 2   team_abbreviation  11700 non-null  object
 3   age                11700 non-null  float64
 4   player_height      11700 non-null  float64
 5   player_weight      11700 non-null  float64
 6   college            11700 non-null  object
 7   country            11700 non-null  object
 8   draft_year         11700 non-null  object
 9   draft_round        11700 non-null  object
 10  draft_number       11700 non-null  object
 11  gp                 11700 non-null  int64
 12  pts                11700 non-null  float64
 13  reb                11700 non-null  float64
 14  ast                11700 non-null  float64
 15  net_rating         11700 non-null  float64
 16  oreb_pct           11700 non-null  float64
 17  dreb_pct           11700 non-null  float64
 18  usg_pct            11700 non-null  float64
 19  ts_pct             11700 non-null  float64
 20  ast_pct            11700 non-null  float64
 21  season             11700 non-null  object
dtypes: float64(12), int64(2), object(8)
memory usage: 2.0+ MB

In [ ]:
nba.head(6)

In [ ]:
nba.shape

(11700, 22)

Selecting a single column from dataframe

In [ ]:
nba['player_name']

pandas.core.series.Series

In [ ]:
type(nba['player_name'])

pandas.core.series.Series

In [ ]:
nba.columns

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [ ]:
select = ['player_name','age','player_height']

In [ ]:
nba[select].head()

       player_name   age  player_height
0    Travis Knight  22.0         213.36
1        Matt Fish  27.0         210.82
2     Matt Bullard  30.0         208.28
3     Marty Conlon  29.0         210.82
4  Martin Muursepp  22.0         205.74

In [ ]:
# Add a new column
test = nba.columns
print("sports" in test)
nba['sports'] = 'basketball'

False

In [ ]:
nba.insert(3,'test','test')

In [ ]:
nba.head()

   Unnamed: 0      player_name team_abbreviation  ... ast_pct   season      sports
0           0    Travis Knight               LAL  ...   0.052  1996-97  basketball
1           1        Matt Fish               MIA  ...   0.000  1996-97  basketball
2           2     Matt Bullard               HOU  ...   0.099  1996-97  basketball
3           3     Marty Conlon               BOS  ...   0.101  1996-97  basketball
4           4  Martin Muursepp               DAL  ...   0.114  1996-97  basketball

[5 rows x 24 columns]

In [ ]:
nba["age"].head(3)

0    22.0
1    27.0
2    30.0
Name: age, dtype: float64

In [ ]:
nba["age"].add(5)

0        27.0
1        32.0
2        35.0
3        34.0
4        27.0
         ...
11695    35.0
11696    33.0
11697    30.0
11698    36.0
11699    30.0
Name: age, Length: 11700, dtype: float64

In [ ]:
nba.columns

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'test', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season',
       'sports'],
      dtype='object')

In [ ]:
#value count method
nba['country'].value_counts()

USA                    9836
France                  167
Canada                  161
Australia                83
Brazil                   83
                       ...
Saint Lucia               2
Ghana                     1
Sudan (UK)                1
Guinea                    1
Trinidad and Tobago       1
Name: country, Length: 79, dtype: int64

In [ ]:
# Drop dataframe rows with null values with the dropna method
nba.dropna(inplace=True)

In [ ]:
nba.fillna(0)

       Unnamed: 0          player_name  ...   season      sports
0               0        Travis Knight  ...  1996-97  basketball
1               1            Matt Fish  ...  1996-97  basketball
2               2         Matt Bullard  ...  1996-97  basketball
3               3         Marty Conlon  ...  1996-97  basketball
4               4      Martin Muursepp  ...  1996-97  basketball
...           ...                  ...  ...      ...         ...
11695       11695  Matthew Dellavedova  ...  2020-21  basketball
11696       11696     Maurice Harkless  ...  2020-21  basketball
11697       11697            Max Strus  ...  2020-21  basketball
11698       11698    Marcus Morris Sr.  ...  2020-21  basketball
11699       11699         Aaron Gordon  ...  2020-21  basketball

[11700 rows x 24 columns]

In [ ]:
vaccinations = pd.read_csv("vaccinations.csv")

In [ ]:
vaccinations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43439 entries, 0 to 43438
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   location                             43439 non-null  object
 1   iso_code                             43439 non-null  object
 2   date                                 43439 non-null  object
 3   total_vaccinations                   25214 non-null  float64
 4   people_vaccinated                    24232 non-null  float64
 5   people_fully_vaccinated              21158 non-null  float64
 6   total_boosters                       513 non-null    float64
 7   daily_vaccinations_raw               21211 non-null  float64
 8   daily_vaccinations                   43172 non-null  float64
 9   total_vaccinations_per_hundred       25214 non-null  float64
 10  people_vaccinated_per_hundred        24232 non-null  float64
 11  people_fully_vaccinated_per_hundred  21158 non-null  float64
 12  total_boosters_per_hundred           513 non-null    float64
 13  daily_vaccinations_per_million       43172 non-null  float64
dtypes: float64(11), object(3)
memory usage: 4.6+ MB

In [ ]:
# filling the missing data.
vaccinations.fillna(0,inplace = True)

In [ ]:
vaccinations.dropna(how = "all",inplace=True)

In [ ]:
vaccinations.fillna(0,inplace= True)

In [ ]:
vaccinations.dtypes
vaccinations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43439 entries, 0 to 43438
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   location                             43439 non-null  object
 1   iso_code                             43439 non-null  object
 2   date                                 43439 non-null  object
 3   total_vaccinations                   43439 non-null  float64
 4   people_vaccinated                    43439 non-null  float64
 5   people_fully_vaccinated              43439 non-null  float64
 6   total_boosters                       43439 non-null  float64
 7   daily_vaccinations_raw               43439 non-null  float64
 8   daily_vaccinations                   43439 non-null  float64
 9   total_vaccinations_per_hundred       43439 non-null  float64
 10  people_vaccinated_per_hundred        43439 non-null  float64
 11  people_fully_vaccinated_per_hundred  43439 non-null  float64
 12  total_boosters_per_hundred           43439 non-null  float64
 13  daily_vaccinations_per_million       43439 non-null  float64
dtypes: float64(11), object(3)
memory usage: 5.0+ MB

In [ ]:
vaccinations.sort_values(["location","iso_code"],ascending=[True,False])

          location  ... daily_vaccinations_per_million
0      Afghanistan  ...                            0.0
1      Afghanistan  ...                           34.0
2      Afghanistan  ...                           34.0
3      Afghanistan  ...                           34.0
4      Afghanistan  ...                           34.0
...            ...  ...                            ...
43434     Zimbabwe  ...                         4150.0
43435     Zimbabwe  ...                         4479.0
43436     Zimbabwe  ...                         4021.0
43437     Zimbabwe  ...                         3564.0
43438     Zimbabwe  ...                         3380.0

[43439 rows x 14 columns]

In [5]:
nba.columns

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [13]:
nba.sort_values(['player_name','player_weight'],inplace = True)
nba.tail()

       Unnamed: 0         player_name  ... ast_pct   season
5281         5281  Zydrunas Ilgauskas  ...   0.082  2007-08
5479         5479  Zydrunas Ilgauskas  ...   0.060  2008-09
6159         6159  Zydrunas Ilgauskas  ...   0.058  2009-10
6369         6369  Zydrunas Ilgauskas  ...   0.033  2010-11
10990       10990      Zylan Cheatham  ...   0.094  2019-20

[5 rows x 22 columns]

In [15]:
# sort the index of a dataframe
nba.sort_index(inplace=True)

In [17]:
nba.head()

   Unnamed: 0      player_name team_abbreviation  ...  ts_pct  ast_pct   season
0           0    Travis Knight               LAL  ...   0.536    0.052  1996-97
1           1        Matt Fish               MIA  ...   0.333    0.000  1996-97
2           2     Matt Bullard               HOU  ...   0.535    0.099  1996-97
3           3     Marty Conlon               BOS  ...   0.542    0.101  1996-97
4           4  Martin Muursepp               DAL  ...   0.482    0.114  1996-97

[5 rows x 22 columns]